page-home {
    ion-content{  
    
    background-image: url(http://www.paradigmassociates.org/images/delightful-student-task-chair-student-task-chair-pink);
    background-repeat: no-repeat;
     background-size:cover;
     display: block;
      margin-left: auto;
    margin-right: auto;
    
     background-position: center;
     position: 0%;
     margin: 56;
     background-size: contain;
     padding: 65536;
     
    }
    .toolbar-background{
        text-align: center;
        color:red;
        background-color: greenyellow;
        
    }
    .button{
        color:red;
        background-color: greenyellow;
        height:50px;
         width:90%;
         border-radius: 100%;
         margin-bottom: 0px;
         bottom:15%;
         position: fixed;
                }
                p{
                    color:pink; 
                }
}
