page-second {
    .button{
        color:red;
        background-color: greenyellow;
                }
                .toolbar-background{
                    text-align: center;
                    color:red;
                    background-color: greenyellow;
                    
                }
}
